<div class="modal-video" id="modal-video-mission">
    <iframe class="modal-video__video" src="https://www.youtube.com/embed/Afm4E6AOxf8?si=X_UGUW-nnnLrWRv0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
