<div class="modal-video" id="modal-video-history">
    <iframe class="modal-video__video" src="https://www.youtube.com/embed/FJOM1DjsVtI?si=SLS-u5UHlcveGlJS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
