<div class="modal-clear" id="modal-clear">
    <div class="modal-clear__headline headline">Очистить корзину</div>
    <div class="modal-clear__text text-16">
        Корзина будет полностью очищена, товары придется собирать заново.
    </div>
    <button class="modal-clear__clear btn-grey text-16-medium">Да, очистить</button>
    <button class="modal-clear__favorite btn-grey text-16-medium">Добавить всё в избранное</button>
    <button class="modal-clear__cancel btn-blue">Отмена</button>
</div>
