<div class="modal-callback" id="modal-callback">
    <div class="modal-callback__inner">
        <div class="modal-callback__mobile">
            <div class="modal-callback__title headline">Контакты</div>
            <a href="tel:88005553555" class="modal-callback__phone">8 800 555-35-55</a>
            <div class="modal-callback__phone-text text-14">
                Принимаем звонки каждый день <br> с 8 до 22 по Иркутскому времени (GMT+8)
            </div>
            <div class="modal-callback__chats">
                <a href="#" target="_blank" class="modal-callback__chat modal-callback__chat_half">
                    <img src="/assets/img/ic_tg_color.svg" alt="" class="modal-callback__chat-icon">
                    <span class="modal-callback__chat-span text-14">Чат Telegram</span>
                </a>
                <a href="#" target="_blank" class="modal-callback__chat modal-callback__chat_half">
                    <img src="/assets/img/ic_wp_color.svg" alt="" class="modal-callback__chat-icon">
                    <span class="modal-callback__chat-span text-14">Чат WhatsApp</span>
                </a>
                <a href="#" target="_blank" class="modal-callback__chat modal-callback__chat_wide">
                    <img src="/assets/img/ic_video_assistant.svg" alt="" class="modal-callback__chat-icon">
                    <span class="modal-callback__chat-span text-14">Онлайн-консультант</span>
                </a>
            </div>
        </div>
        <div class="modal-callback__headline headline">Заказать звонок</div>
        <div class="modal-callback__sub-headline text-14">Свяжемся в ближайшее время и поможем  с выбором!</div>
        <form class="modal-callback__form">
            <div class="modal-callback__form-inner">
                <label class="modal-callback__label">
                    <span class="modal-callback__note text-14">Номер телефона*</span>
                    <input type="tel" class="modal-callback__input input" name="phone" placeholder="Введите номер">
                </label>
                <label class="modal-callback__label">
                    <span class="modal-callback__note text-14">Имя</span>
                    <input type="tel" class="modal-callback__input input" name="name" placeholder="Как к вам обращаться?">
                </label>
            </div>
            <div class="modal-callback__explain text-14">*обязательно для заполнения</div>
            <button class="modal-callback__submit btn-blue" disabled>Свяжитесь со мной</button>
            <div class="modal-callback__policy">
                <label class="modal-callback__checkbox-box">
                    <input type="checkbox" checked class="modal-callback__checkbox" name="policy-checkbox">
                    <div class="modal-callback__checkbox-view"></div>
                </label>
                <div class="modal-callback__policy-text text-13">
                    Нажимая кнопку «Свяжитесь со мной», я даю свое согласие на сбор и обработку моих персональных
                    данных в соответствии с <a href="#">политикой конфиденциальности</a>
                </div>
            </div>
        </form>
    </div>
</div>
