<div class="modal-new-pas" id="modal-new-pas">
    <div class="modal-new-pas__title headline">Введите новый пароль</div>
    <div class="modal-new-pas__text text-16">
        Выбирайте пароль из комбинаций букв, символов и цифр.
    </div>
    <div class="modal-new-pas__text modal-new-pas__text_done text-16">
        Авторизируемся в личном кабинете... <br> Успешных и выгодных покупок!
    </div>
    <div class="modal-new-pas__area">
        <input type="password" class="modal-new-pas__input input" name="password" placeholder="Новый пароль">
        <input type="password" class="modal-new-pas__input input" name="password-repeat" placeholder="Подтвердите новый пароль">
    </div>
    <button class="modal-new-pas__submit btn-blue">Сменить</button>
    <div class="modal-new-pas__link-box">
        <a href="#modal-login" class="modal-new-pas__link link-underline text-13" data-fancybox>У меня есть пароль, хочу войти</a>
    </div>
    <div class="modal-new-pas__link-box">
        <a href="#modal-registration" class="modal-new-pas__link link-underline text-13" data-fancybox>Регистрация</a>
    </div>
</div>
