$container-width: 1256px;

/* COLORS */

$c-main: #333;
$c-blue: #0A4881;
$c-white: #fff;

/* MEDIA QUERIES */

$mobile-width: 1260px;

/* ANIMATIONS */

$transition-duration: 0.3s;

/* FONTS */

$font-main: EuclidCircularA, sans-serif;
$font-second: CloserText, sans-serif;
