.bonus-share {
    background-image: url("../img/bonus-share/bonus-share_bg.svg");
    background-size: cover;
    background-position: center;
    padding: 32px 0 48px;
    margin-bottom: 56px;
    overflow: hidden;
    @include breakpoint-down($mobile-width) {
        padding: 72px 0 48px;
        margin-bottom: 48px;
        background-image: url("../img/bonus-share/bonus-share_bg-mob.svg");
    }
}

.bonus-share__wrap {
    display: flex;
    align-items: flex-start;
    @include breakpoint-down($mobile-width) {
        display: block;
    }
}

.bonus-share__gallery {
    order: 1;
    display: flex;
    align-items: flex-start;
    @include breakpoint-down($mobile-width) {
        margin-bottom: 55px;
    }
}

.bonus-share__item {
    position: relative;
    &:first-child {
        .bonus-share__sticker {
            transform: rotate(-5deg);
            top: 0;
            right: -50px;
        }
    }
    &:last-of-type {
        margin-top: 90px;
        margin-left: -50px;
        @include breakpoint-down($mobile-width) {
            margin-top: 49px;
            margin-left: -25px;
        }
        .bonus-share__sticker {
            transform: rotate(5deg);
            bottom: 32px;
            left: -10px;
        }
    }
}

.bonus-share__picture {
    display: block;
    border: 10px solid $c-white;
    width: 332px;
    height: 332px;
    border-radius: 50%;
    overflow: hidden;
    @include breakpoint-down($mobile-width) {
        width: 190px;
        height: 190px;
        border: 6px solid $c-white;
    }
}

.bonus-share__image {
    height: 100%;
}

.bonus-share__sticker {
    position: absolute;
    background: #ECE5DF;
    box-shadow: 0 18.53807px 27.80711px 0 #ECE5DF;
    display: flex;
    align-items: center;
    padding: 10px 15px 10px 10px;
    border-radius: 100px;
    @include breakpoint-down($mobile-width) {
        padding: 6px 10px 6px 6px;
    }
}

.bonus-share__circle {
    margin-right: 6px;
    flex-shrink: 0;
    width: 35px;
    height: 35px;
    @include breakpoint-down($mobile-width) {
        width: 20px;
        height: 20px;
    }
}

.bonus-share__value {
    font-size: 34px;
    line-height: 35px;
    @include breakpoint-down($mobile-width) {
        font-size: 20px;
        line-height: 20px;
    }
}

.bonus-share__inner {
    margin-right: 24px;
    max-width: 600px;
    width: 100%;
    @include breakpoint-down($mobile-width) {
        max-width: 100%;
    }
}

.bonus-share__title {
    margin-bottom: 8px;
}

.bonus-share__text {

}

.bonus-share__area {
    margin-top: 112px;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    @include breakpoint-down($mobile-width) {
        margin-top: 48px;
        display: block;
    }
}

.bonus-share__box {
    width: 288px;
    @include breakpoint-down($mobile-width) {
        width: 100%;
        &:first-child {
            margin-bottom: 32px;
        }
    }
}

.bonus-share__top {
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    @include breakpoint-down($mobile-width) {
        margin-bottom: 32px;
    }
}

.bonus-share__icon {
    margin-right: 8px;
    width: 24px;
    height: 24px;
}

.bonus-share__headline {

}

.bonus-share__note {
    color: #808080;
}
