.footer {
    background: #F5F3F1;
    padding: 56px 0 26px;
    @include breakpoint-down($mobile-width) {
        padding: 48px 0 24px;
    }
}

.footer__top {
    display: flex;
    padding-bottom: 56px;
    margin-bottom: 32px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.08);
    @include breakpoint-down($mobile-width) {
        display: block;
        padding-bottom: 48px;
    }
}

.footer__list {
    display: flex;
    @include breakpoint-down($mobile-width) {
        display: block;
        margin-bottom: 48px;
    }
}

.footer__item {
    margin-right: 24px;
    width: 288px;
    @include breakpoint-down($mobile-width) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 25px;
    }
}

.footer__headline {
    @include breakpoint-down($mobile-width) {
        position: relative;
        &::before {
            content: '';
            width: 20px;
            height: 20px;
            position: absolute;
            top: 0;
            right: 0;
            background-image: url("../img/ic_dropdown_arrow_bottom_black.svg");
            background-size: cover;
        }
    }
}

.footer__headline_active {
    & + .footer__nav {
        @include breakpoint-down($mobile-width) {
            display: flex;
        }
    }
    &::before {
        @include breakpoint-down($mobile-width) {
            transform: rotate(180deg);
        }
    }
}

.footer__nav {
    display: flex;
    flex-direction: column;
    @include breakpoint-down($mobile-width) {
        display: none;
    }
}

.footer__nav-link {
    display: inline-block;
    margin-top: 24px;
    color: #808080;
    text-decoration: none;
}

.footer__box {
    width: 288px;
    @include breakpoint-down($mobile-width) {
        width: 100%;
    }
}

.footer__caption {
    margin-bottom: 8px;
    span {
        color: #EE7E19;
    }
}

.footer__note {
    margin-bottom: 16px;
    display: block;
}

.footer__form {
    display: flex;
    margin-bottom: 57px;
}

.footer__input {
    margin-right: 8px;
    @include breakpoint-down($mobile-width) {
        max-width: 279px;
        width: 100%;
    }
}

.footer__submit {
    flex-shrink: 0;
    width: 56px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__submit-icon {
    width: 24px;
    height: 24px;
}

.footer__social {

}

.footer__social-note {
    color: #808080;
    margin-bottom: 8px;
    display: block;
}

.footer__social-list {
    display: flex;
}

.footer__social-link {
    margin-right: 16px;
    width: 48px;
    height: 48px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    path {
        transition-property: fill;
        transition-duration: $transition-duration;
    }
    &:hover {
        path {
            fill: $c-main
        }
    }
}

.footer__middle {
    display: flex;
    padding-bottom: 32px;
    margin-bottom: 26px;
    border-bottom: 1px solid rgba(51, 51, 51, 0.08);
    @include breakpoint-down($mobile-width) {
        display: block;
    }
}

.footer__contacts {
    display: flex;
    flex-direction: column;
    margin-right: 24px;
    @include breakpoint-down($mobile-width) {
        margin-right: 0;
        margin-bottom: 24px;
    }
}

.footer__contacts-value {
    color: $c-main;
    text-decoration: none;
}

.footer__contacts-note {
    margin-top: 8px;
    display: block;
}

.footer__pay {
    margin-left: auto;
}

.footer__pay-list {
    display: flex;
    margin: 0 -2px 4px;
}

.footer__pay-icon {
    margin: 0 2px;
    width: 56px;
    height: 26px;
    border-radius: 4px;
}

.footer__pay-note {
    color: #808080;
}

.footer__bottom {
    display: flex;
    align-items: center;
    @include breakpoint-down($mobile-width) {
        flex-wrap: wrap;
    }
}

.footer__copyright {
    margin-right: 40px;
    @include breakpoint-down($mobile-width) {
        margin-right: 0;
        width: 100%;
        margin-bottom: 16px;
    }
}

.footer__bottom-link {
    margin-right: 40px;
    @include breakpoint-down($mobile-width) {
        margin-right: 78px;
    }
    &:last-of-type {
        @include breakpoint-down($mobile-width) {
            margin-right: 0;
        }
    }
}

.footer__develop {
    margin-left: auto;
    display: flex;
    align-items: center;
    @include breakpoint-down($mobile-width) {
        margin-left: 0;
        margin-top: 48px;
        width: 100%;
    }
}

.footer__develop-span {
    color: #808080;
}

.footer__develop-icon {
    width: 67px;
    height: 14px;
    margin-left: 8px;
}
