.history-tile {
    margin-bottom: 56px;
    @include breakpoint-down($mobile-width) {
        margin-bottom: 48px;
    }
}

.history-tile__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.history-tile__title {
    margin-bottom: 24px;
}

.history-tile__all {
    position: relative;
    display: inline-block;
    margin-bottom: 16px;
    padding-right: 22px;
    color: $c-blue;
    text-decoration: none;
    &::before {
        content: '';
        position: absolute;
        top: 1px;
        right: 0;
        width: 20px;
        height: 20px;
        background-image: url("../img/ic_btn_all_blue.svg");
    }
}

.history-tile__area {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -12px;
    @include breakpoint-down($mobile-width) {
        display: block;
        margin: 0;
    }
}

.history-tile__item {
    position: relative;
    padding: 24px;
    border-radius: 8px;
    background: #F5F3F1;
    margin: 0 12px 24px;
    text-decoration: none;
    color: $c-main;
    @include breakpoint-down($mobile-width) {
        margin: 0 0 16px;
        padding: 16px;
    }
}

a.history-tile__item {
    display: block;
    transition-duration: $transition-duration;
    transition-property: background-color;
    @include breakpoint-down($mobile-width) {
        padding-top: 23px;
    }
    &:hover {
        background-color: #ECE5DF;
    }
}

.history-tile__item_middle {
    width: calc(25% - 24px);
    @include breakpoint-down($mobile-width) {
        width: 100%;
    }
}

.history-tile__item_text {
    background-color: transparent;
    width: calc(50% - 24px);
    @include breakpoint-down($mobile-width) {
        width: 100%;
        margin-bottom: 24px;
        margin-top: 24px;
        padding: 0;
    }
}

.history-tile__item_small {
    width: calc(20% - 24px);
    @include breakpoint-down($mobile-width) {
        width: 100%;
    }
}

.history-tile__big-text {

}

.history-tile__year {
    margin-bottom: 24px;
    @include breakpoint-down($mobile-width) {
        margin-bottom: 16px;
    }
}

.history-tile__text {

}

.history-tile__icons {
    position: absolute;
    top: 16px;
    right: 24px;
    display: flex;
    align-items: center;
    @include breakpoint-down($mobile-width) {
        top: 10px;
        right: unset;
        left: 80px;
    }
}

.history-tile__icon {

}
