.interiors {
    padding: 56px 0;
    @include breakpoint-down($mobile-width) {
        padding: 48px 0;
    }
    .swiper-scrollbar-blue {
        @include breakpoint-down($mobile-width) {
            display: none;
        }
    }
}

.interiors__layer {
    display: none;
    background-color: rgba(#000, .7);
    position: fixed;
    z-index: 9999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.interiors__layer_active {
    @include breakpoint-down($mobile-width) {
        display: block;
    }
}

.interiors__top {
    margin-bottom: 32px;
    padding-right: 208px;
    position: relative;
    @include breakpoint-down($mobile-width) {
        margin-bottom: 24px;
        padding-right: 0;
    }
}

.interiors__title {
    margin-bottom: 16px;
}

.interiors__text {

}

.interiors__nav  {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    @include breakpoint-down($mobile-width) {
        display: none;
    }
    .swiper-button-disabled {
        opacity: 0.5;
        cursor: default;
        pointer-events: none;
    }
}

.interiors__nav-btn {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid rgba(51, 51, 51, 0.16);
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        &::before {
            background-image: url("../img/ic_arrow_right_blue.svg");
        }
    }
    &::before {
        content: '';
        width: 24px;
        height: 24px;
        background-image: url("../img/ic_arrow_right_grey.svg");
        transition-property: background;
        transition-duration: $transition-duration;
    }
}

.interiors__nav-btn_left {
    &::before {
        transform: rotate(180deg);
    }
}

.interiors__nav-btn_right {
    margin-left: 8px;
}

.interiors__slider {
    overflow: hidden;
    padding-bottom: 30px;
    position: relative;
    @include breakpoint-down($mobile-width) {
        padding-bottom: 0;
        margin-right: -16px;
    }
    .swiper-wrapper {
        padding: 0;
        @include breakpoint-down($mobile-width) {
            flex-wrap: wrap;
        }
    }
}

.interiors__wrapper {

}

.interiors__slide {
    &:not(:last-of-type) {
        margin-right: 24px;
        @include breakpoint-down($mobile-width) {
            margin-right: 0;
            margin-bottom: 16px;
        }
    }
    width: 912px;
    @include breakpoint-down($mobile-width) {
        width: 100%;
        max-width: 359px;
        padding-right: 16px;
    }
}

.interiors__inner {
    position: relative;
}

.interiors__picture {

}

.interiors__image {
    height: 570px;
    width: 100%;
    object-fit: cover;
    @include breakpoint-down($mobile-width) {
        height: 214px;
    }
}

.interiors__wrap {
    position: absolute;
    &:hover {
        .interiors__modal {
            display: block;
            @include breakpoint-down($mobile-width) {
                display: none;
            }
        }
        .interiors__circle {
            background-color: rgba($c-main, .5);
            &::before {
                width: 16px;
                height: 16px;
            }
        }
    }
    .interiors__modal {
        width: 296px;
        padding: 4px 3px;
        @include breakpoint-down($mobile-width) {
            display: none;
        }
    }
}

.interiors__wrap_active {
    .interiors__modal {
        display: block;
    }
}

.interiors__wrap_left {
    .interiors__modal {
        right: 48px;
    }
}

.interiors__wrap_right {
    .interiors__modal {
        left: 48px;
    }
}

.interiors__wrap_center {
    .interiors__modal {
        transform: translateY(calc(50% - 24px));
    }
}

.interiors__circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba($c-white, .3);
    transition-duration: $transition-duration;
    transition-property: background-color;
    &::before {
        content: '';
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: $c-white;
        transition-duration: $transition-duration;
        transition-property: width, height;
    }
}

.interiors__modal {
    display: none;
    width: 288px;
    position: absolute;
    z-index: 1;
    bottom: 0;
}

.interiors__fixed {
    .interiors__modal_active.interiors__modal_fixed {
        @include breakpoint-down($mobile-width) {
            display: block;
            position: fixed;
            max-width: 375px;
            width: 100%;
            z-index: 10000;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.interiors__modal-area {
    position: relative;
    background-color: $c-white;
}

.interiors__modal-tags {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

.interiors__modal-tag {
    margin-left: -4px;
    padding: 1px 8px;
    clip-path: polygon(4px 0, 100% 0, calc(100% - 4px) 100%, 0 100%);
}

.interiors__modal-favorite {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: rgba($c-white, .5);
    border-radius: 50%;
    transition-duration: $transition-duration;
    transition-property: background-color;
    @include breakpoint-down($mobile-width) {
        top: 64px;
        right: 12px;
    }
    &:hover {
        background-color: $c-white;
        &::before {
            background-image: url("../img/ic_heart_blue-fill.svg");
        }
    }
    &::before {
        content: '';
        width: 24px;
        height: 24px;
        background-image: url("../img/ic_heart_grey.svg");
        transition-duration: $transition-duration;
        transition-property: background;
    }
}

.interiors__modal-close {
    display: none;
    @include breakpoint-down($mobile-width) {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 8px;
        right: 8px;
        width: 48px;
        height: 48px;
        flex-shrink: 0;
        border-radius: 8px;
        border: 1px solid rgba(51, 51, 51, 0.16);
        &:hover {
            &::before {
                background-image: url("../img/ic_close_blue.svg");
            }
        }
        &::before {
            content: '';
            width: 24px;
            height: 24px;
            background-image: url("../img/ic_close_grey.svg");
            transition-property: background;
            transition-duration: $transition-duration;
        }
    }
}

.interiors__modal-link {
    text-decoration: none;
    color: $c-main;
    &:hover {
        .interiors__modal-name {
            color: $c-blue;
        }
    }
}

.interiors__modal-picture {
    background: #F4F3F1;
    padding: 28px 26px 8px;
    @include breakpoint-down($mobile-width) {
        padding: 29px 28px 9px;
    }
}

.interiors__modal-image {
    height: 154px;
    object-fit: cover;
    @include breakpoint-down($mobile-width) {
        height: 208px;
    }
}

.interiors__modal-inner {
    padding: 12px 16px 16px;
    @include breakpoint-down($mobile-width) {
        padding: 32px 16px;
    }
}

.interiors__modal-name {
    margin-bottom: 12px;
    transition-property: color;
    transition-duration: $transition-duration;
}

.interiors__modal-info {
    margin-bottom: 12px;
    display: flex;
    align-items: center;
}

.interiors__modal-box {
    display: flex;
    align-items: center;
}

.interiors__modal-star {
    position: relative;
    margin-right: 4px;
    width: 16px;
    height: 16px;
    background-image: url("../img/ic_star_grey.svg");
}

.interiors__modal-star-fill {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 16px;
    background-image: url("../img/ic_star_orange.svg");
}

.interiors__modal-review {

}

.interiors__modal-count {
    margin-left: 24px;
    color: $c-blue;
}

.interiors__modal-status {
    margin-left: auto;
    color: #7BBF3F;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 8px;
        left: -15px;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #7BBF3F;
    }
}

.interiors__modal-price {
    display: flex;
    align-items: center;
}

.interiors__modal-price-current {
    margin-right: 12px;
}

.interiors__modal-price-old {
    margin-right: 12px;
    color: #B3B3B3;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 13px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: #B3B3B3;
    }
}

.interiors__modal-price-action {
    background-color: #D44A1B;
    color: $c-white;
    padding-right: 4px;
    margin-left: 6px;
    position: relative;
    &::before {
        content: '';
        background-image: url("../img/ic_triangle_action_red.svg");
        position: absolute;
        top: 1px;
        left: -6px;
        width: 6px;
        height: 20px;
    }
}

.interiors__modal-more {
    display: none;
    @include breakpoint-down($mobile-width) {
        display: block;
        margin-top: 24px;
        color: #808080;
        padding: 10px 11px 11px;
        text-align: center;
        border-radius: 8px;
        background: rgba(51, 51, 51, 0.08);
    }
}

.interiors__more {
    display: none;
    @include breakpoint-down($mobile-width) {
        display: block;
        padding: 10px 11px 11px;
        border-radius: 8px;
        background: rgba(51, 51, 51, 0.08);
        text-decoration: none;
        color: #808080;
        text-align: center;
        margin: 16px auto 0;
    }
}
