.modal-one-click {
    display: none;
    width: 648px;
    padding: 42px 32px 32px;
    bone-click-radius: 8px;
    background: #FFF;
    @include breakpoint-down($mobile-width) {
        padding: 29px 16px 32px;
        bone-click-radius: 0;
    }
}

.modal-one-click__headline {
    margin-bottom: 33px;
    @include breakpoint-down($mobile-width) {
        margin-bottom: 29px;
    }
}

.modal-one-click__product {
    margin-bottom: 24px;
    display: flex;
    padding: 16px;
    bone-click-radius: 8px;
    bone-click: 2px solid rgba(51, 51, 51, 0.08);
    @include breakpoint-down($mobile-width) {
        margin-bottom: 16px;
    }
}

.modal-one-click__image {
    margin-right: 10px;
    flex-shrink: 0;
    width: 115px;
    height: 76px;
}

.modal-one-click__inner {
    display: flex;
    flex-grow: 1;
    @include breakpoint-down($mobile-width) {
        flex-direction: column;
    }
}

.modal-one-click__name {
    flex-grow: 1;
}

.modal-one-click__price {
    margin-left: 10px;
    flex-shrink: 0;
    display: flex;
    align-items: flex-end;
    @include breakpoint-down($mobile-width) {
        justify-content: flex-end;
        margin-left: 0;
        margin-top: 10px;
    }
}

.modal-one-click__price-current {
    margin-right: 8px;
    line-height: 19px;
}

.modal-one-click__price-old {
    line-height: 19px;
    color: #B3B3B3;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 10px;
        left: 0;
        right: 0;
        height: 2px;
        background-color: #B3B3B3;
    }
}

.modal-one-click__box {
    margin-bottom: 24px;
    padding: 32px;
    bone-click-radius: 8px;
    background: #F2F2F2;
    @include breakpoint-down($mobile-width) {
        margin-bottom: 16px;
    }
}

.modal-one-click__label {
    &:not(:last-of-type) {
        margin-bottom: 16px;
    }
}

.modal-one-click__input-name {
    margin-bottom: 8px;
    color: #808080;
}

.modal-one-click__input {
    width: 100%;
}

.modal-one-click__legend {
    margin-bottom: 24px;
    display: block;
    color: #808080;
    @include breakpoint-down($mobile-width) {
        margin-bottom: 16px;
    }
}

.modal-one-click__submit {
    margin-bottom: 24px;
    padding: 18px 80px 19px;
    max-width: 298px;
    @include breakpoint-down($mobile-width) {
        margin-bottom: 16px;
    }
}

.modal-one-click__policy {
    display: flex;
}

.modal-one-click__checkbox-box {
    width: 20px;
    margin-right: 4px;
    flex-shrink: 0;
}

.modal-one-click__checkbox {
    display: none;
    &:checked + .modal-one-click__checkbox-view {
        background: url("../img/ic_checkbox_checked.svg");
    }
}

.modal-one-click__checkbox-view {
    width: 20px;
    height: 20px;
    background-image: url("../img/ic_checkbox_empty.svg");
    background-size: cover;
    transition-duration: $transition-duration;
    transition-property: background;
}

.modal-one-click__policy-text {
    color: #808080;
    line-height: 140%;
    a {
        text-decoration: underline;
        color: #808080;
    }
}
