.modal-recovery {
    display: none;
    border-radius: 8px;
    background: $c-white;
    padding: 42px 32px 32px;
    width: 440px;
    @include breakpoint-down($mobile-width) {
        border-radius: 0;
        padding: 29px 16px 32px;
    }
}

.modal-recovery_email {
    .modal-recovery__input_email {
        display: block;
    }
    .modal-recovery__input_phone {
        display: none;
    }
}

.modal-recovery_phone {
    .modal-recovery__input_email {
        display: none;
    }
    .modal-recovery__input_phone {
        display: block;
    }
}

.modal-recovery_active {
    .modal-recovery__code, .modal-recovery__send-again {
        display: flex;
    }
    .modal-recovery__nav, .modal-recovery__area {
        display: none;
    }
}

.modal-recovery_email.modal-recovery_active {
    .modal-recovery__text_email, .modal-recovery__change-login_email {
        display: block;
    }
}

.modal-recovery_phone.modal-recovery_active {
    .modal-recovery__text_phone, .modal-recovery__change-login_phone {
        display: block;
    }
}

.modal-recovery_active.modal-recovery_done {
    .modal-recovery__done {
        display: block;
    }
    .modal-recovery__change-login, .modal-recovery__text, .modal-recovery__code, .modal-recovery__send-again,
    .modal-recovery__submit {
        display: none;
    }
}

.modal-recovery__title {
    margin-bottom: 26px;
}

.modal-recovery__done {
    display: none;
    margin-bottom: 80px;
    color: #808080;
    max-width: 328px;
    width: 100%;
}

.modal-recovery__text {
    display: none;
    margin-bottom: 16px;
    color: #808080;
    span {
        color: $c-main;
    }
}

.modal-recovery__nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    padding: 4px;
    border-radius: 8px;
    background: rgba(51, 51, 51, 0.08);
}

.modal-recovery__nav-btn {
    border-radius: 6px;
    background: #FFF;
    padding: 6px;
    width: calc(50% - 2px);
    color: $c-main;
    text-decoration: none;
    text-align: center;
    opacity: 0.5;
    cursor: pointer;
    transition-property: opacity;
    transition-duration: $transition-duration;
    &:hover {
        opacity: 0.8;
    }
}

.modal-recovery__nav-btn_active {
    opacity: 1;
    cursor: default;
    pointer-events: none;
}

.modal-recovery__change-login {
    display: none;
    color: $c-blue;
    margin-bottom: 16px;
}

.modal-recovery__code {
    display: none;
    margin-bottom: 16px;
    justify-content: space-between;
    border-radius: 8px;
    background: #F2F2F2;
    padding: 16px;
}

.modal-recovery__code-input {
    width: 64px;
    height: 64px;
    text-align: center;
    font-family: $font-main;
}

.modal-recovery__send-again {
    display: none;
    justify-content: center;
    color: #808080;
}

.modal-recovery__send-again-btn {
    margin-right: 4px;
    color: $c-blue;
    &::before {
        background-color: $c-blue;
    }
    &:disabled {
        opacity: 0.5;
    }
}

.modal-recovery__send-again-counter {
    margin-left: 4px;
}

.modal-recovery__area {
    padding: 32px;
    border-radius: 8px;
    background: #F2F2F2;
    @include breakpoint-down($mobile-width) {
        padding: 16px;
    }
}

.modal-recovery__input {
    width: 100%;
}

.modal-recovery__submit {
    width: 100%;
    margin-top: 82px;
    padding: 18px 19px 19px;
    @include breakpoint-down($mobile-width) {
        margin-top: 105px;
    }
}

.modal-recovery__link-box {
    text-align: center;
    margin-top: 16px;
}

.modal-recovery__link {
    color: $c-blue;
    &::before {
        background-color: $c-blue;
    }
}
