.product-about {
    margin-bottom: 56px;
    @include breakpoint-down($mobile-width) {
        margin-bottom: 32px;
    }
}

.product-about__area {
    max-width: 600px;
    width: 100%;
}

.product-about__stats {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-about__stats-box {
    margin-bottom: 48px;
    width: calc(50% - 12px);
    @include breakpoint-down($mobile-width) {
        margin-bottom: 24px;
        width: 100%;
    }
}

.product-about__stats-name {
    color: #808080;
    margin-bottom: 8px;
}

.product-about__stats-value {
    font-family: $font-main;
    display: flex;
    align-items: center;
    .hint {
        top: 3px;
    }
}

.product-about__stats-icon {
    margin-right: 4px;
}

.product-about__stats-hint {
    margin-left: 4px;
}

.product-about__wrap {
    margin-top: 40px;
    display: flex;
    align-items: center;
    @include breakpoint-down($mobile-width) {
        display: block;
    }
}

.product-about__picture {
    flex-shrink: 0;
    width: 792px;
    margin-right: 40px;
    @include breakpoint-down($mobile-width) {
        width: 100%;
        max-width: 343px;
        margin-right: 0;
        margin-bottom: 24px;
    }
}

.product-about__image {
    height: 469px;
    @include breakpoint-down($mobile-width) {
        height: 203px;
    }
}

.product-about__box-headline {
    margin-bottom: 32px;
    font-family: $font-main;
}

.product-about__list {

}

.product-about__item {
    &:not(:last-of-type) {
        border-bottom: 1px solid rgba(51, 51, 51, 0.16);
        margin-bottom: 16px;
    }
    display: flex;
    padding-bottom: 16px;
}

.product-about__number {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid $c-blue;
    color: $c-blue;
}

.product-about__item-inner {

}

.product-about__item-top {
    color: $c-blue;
    cursor: pointer;
}

.product-about__item-top_active {
    & + .product-about__item-text {
        display: block;
    }
}

.product-about__item-text {
    margin-top: 8px;
    display: none;
}
