.tile-line {
    margin-bottom: 80px;
    @include breakpoint-down($mobile-width) {
        overflow: hidden;
        margin-bottom: 48px;
    }
}

.tile-line_favorites {
    margin-bottom: 24px;
    @include breakpoint-down($mobile-width) {
        margin-bottom: 0;
    }
}

.tile-line_basket-empty {
    margin-bottom: 24px;
    @include breakpoint-down($mobile-width) {
        margin-bottom: 8px;
    }
}

.tile-line_catalog {
    padding-top: 80px;
    @include breakpoint-down($mobile-width) {
        padding-top: 48px;
    }
}

.tile-line_stock {
    .tile-line__top {
        margin-bottom: 16px;
    }
}

.tile-line_product-card {
    padding-top: 80px;
    @include breakpoint-down($mobile-width) {
        padding-top: 0;
    }
}

.tile-line__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    @include breakpoint-down($mobile-width) {
        margin-bottom: 24px;
    }
}

.tile-line__title {
    margin-top: 5px;
    @include breakpoint-down($mobile-width) {
        margin-top: 0;
    }
    a {
        color: $c-blue;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.tile-line__nav {
    display: flex;
    margin-left: 50px;
    flex-shrink: 0;
    @include breakpoint-down($mobile-width) {
        display: none;
    }
}

.tile-line__nav-btn {
    width: 48px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid rgba(51, 51, 51, 0.16);
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
        &::before {
            background-image: url("../img/ic_arrow_right_blue.svg");
        }
    }
    &::before {
        content: '';
        width: 24px;
        height: 24px;
        background-image: url("../img/ic_arrow_right_grey.svg");
        transition-property: background;
        transition-duration: $transition-duration;
    }
}

.tile-line__nav-btn_left {
    &::before {
        transform: rotate(180deg);
    }
}

.tile-line__nav-btn_right {
    margin-left: 8px;
}

.tile-line__all {
    position: relative;
    display: inline-block;
    margin-bottom: 32px;
    padding-right: 22px;
    color: $c-blue;
    text-decoration: none;
    @include breakpoint-down($mobile-width) {
        margin-bottom: 16px;
    }
    &::before {
        content: '';
        position: absolute;
        top: 3px;
        right: 0;
        width: 20px;
        height: 20px;
        background-image: url("../img/ic_btn_all_blue.svg");
    }
}

.tile-line__slider {
    overflow: hidden;
    position: relative;
    padding-bottom: 33px;
    @include breakpoint-down($mobile-width) {
        overflow: unset;
    }
}

.tile-line__wrapper {
    @include breakpoint-down($mobile-width) {
        padding: 0;
    }
}

.tile-line__slide {
    width: 288px;
    margin-right: 24px;
    height: auto;
}
