<section class="about">
    <div class="container">
        <h1 class="about__title title">О компании</h1>
        <div class="about__area">
            <a href="#modal-video-mission" class="about__video-box" data-fancybox>
                <div class="about__video-button"></div>
                <img src="/assets/img/about/about-video-placeholder.jpg" alt="" class="about__video-placeholder">
            </a>
            <div class="about__box">
                <h2 class="about__headline title">Миссия компании «Сарма»</h2>
                <p class="about__text text-14">
                    Мы постоянно разрабатываем инновационные решения и выпускаем только такую продукцию, в которой
                    уверены на 100%. День за днём мы работаем для того, чтобы каждую ночь вы погружались в здоровый
                    сон, набираясь сил для новых свершений.
                </p>
                <div class="about__list">
                    <img src="/assets/img/history/history-emblem.svg" alt="" class="about__emblem">
                    <div class="about__item text-18-medium">Мы наполняем жизнь уютом, красотой и здоровьем</div>
                    <div class="about__item text-18-medium">Служим людям, создавая экологически чистый продукт</div>
                    <div class="about__item text-18-medium">Развиваясь, мы становимся счастливыми вместе с вами</div>
                </div>
            </div>
        </div>
    </div>
</section>
