<section class="actions">
    <div class="container">
        <div class="actions__area">
            <div class="actions__box actions__box_grey">
                <picture class="actions__picture">
                    <source srcset="/assets/img/actions/actions-1_mob.jpg" media="(max-width: 1260px)">
                    <img src="/assets/img/actions/actions-1.jpg" alt="" class="actions__image" loading="lazy">
                </picture>
                <div class="actions__inner">
                    <div class="actions__name headline">Подобрать матрас</div>
                    <div class="actions__text text-14">
                        Затрудняетесь с выбором?  Мы подготовили несколько простых вопросов,
                        которые помогут вам выбрать подходящий матрас
                    </div>
                    <a href="#" class="actions__link link-underline">Подобрать</a>
                </div>
            </div>
            <div class="actions__box actions__box_blue">
                <picture class="actions__picture">
                    <source srcset="/assets/img/actions/actions-2_mob.jpg" media="(max-width: 1260px)">
                    <img src="/assets/img/actions/actions-2.jpg" alt="" class="actions__image" loading="lazy">
                </picture>
                <div class="actions__inner">
                    <div class="actions__name headline">Подобрать матрас</div>
                    <div class="actions__text text-14">
                        500 бонусов за регистрацию!  1&nbsp;бонус = 1 рубль, оплачивайте  до&nbsp;30% покупки бонусами!
                    </div>
                    <a href="#modal-registration" class="actions__link link-underline" data-fancybox>Зарегистрироваться</a>
                </div>
            </div>
        </div>
    </div>
</section>
