<section class="bonus-share">
    <div class="container">
        <div class="bonus-share__wrap">
            <div class="bonus-share__gallery">
                <div class="bonus-share__item">
                    <picture class="bonus-share__picture">
                        <img src="/assets/img/bonus-share/bonus-share-1.jpg" alt="" class="bonus-share__image" loading="lazy">
                    </picture>
                    <div class="bonus-share__sticker">
                        <img src="/assets/img/bonus-share/ic_sarma_circle_black.svg" alt="" class="bonus-share__circle">
                        <span class="bonus-share__value">+1 125</span>
                    </div>
                </div>
                <div class="bonus-share__item">
                    <picture class="bonus-share__picture">
                        <img src="/assets/img/bonus-share/bonus-share-2.jpg" alt="" class="bonus-share__image" loading="lazy">
                    </picture>
                    <div class="bonus-share__sticker">
                        <img src="/assets/img/bonus-share/ic_sarma_circle_black.svg" alt="" class="bonus-share__circle">
                        <span class="bonus-share__value">+753</span>
                    </div>
                </div>
            </div>
            <div class="bonus-share__inner">
                <h2 class="bonus-share__title title">Делитесь бонусами с друзьями</h2>
                <p class="bonus-share__text text-16">
                    Переводите накопленные бонусы по номеру телефона  через личный кабинет или там же активируйте
                    бонусы,  полученные от другого участника.
                </p>
                <div class="bonus-share__area">
                    <div class="bonus-share__box">
                        <div class="bonus-share__top">
                            <img src="/assets/img/bonus-share/ic_bonus_share_1.svg" alt="" class="bonus-share__icon">
                            <div class="bonus-share__headline headline">Поделиться</div>
                        </div>
                        <p class="bonus-share__text text-14">
                            В разделе «Бонусы», в личном кабинете выберите «Поделиться». Введите номер телефона,
                            почту или логин друга. Промокод будет сформирован автоматически.
                        </p>
                    </div>
                    <div class="bonus-share__box">
                        <div class="bonus-share__top">
                            <img src="/assets/img/bonus-share/ic_bonus_share_2.svg" alt="" class="bonus-share__icon">
                            <div class="bonus-share__headline headline">Получить</div>
                        </div>
                        <p class="bonus-share__text text-14">
                            Получите от друга промокод  и введите его в разделе «Бонусы»,  в личном кабинете.
                            Выберите «Запросить» и в появившемся окне активируйте промокод.
                        </p>
                    </div>
                </div>
                <div class="bonus-share__note text-13">
                    Один отправитель может сделать до 2 переводов в месяц. Один получатель может активировать
                    не более 10 купонов с бонусами за календарный год.
                </div>
            </div>
        </div>

    </div>
</section>
