<section class="description" data-element="description">
    <div class="container">
        <div class="description__wrap">
            <h2 class="description__title title">Официальный интернет-магазин мебели в Иркутске Сарма Мебель</h2>
            <div class="description__area">
                <p class="description__text text-16">
                    Для покупателей Сарма Мебель — это возможность создать неповторимый интерьер квартиры, сделать
                    обстановку дома уютной, пребывание гостей — комфортабельным. А для нас, команды Сармы, мебель – это
                    объект искреннего интереса и увлечения. Поэтому мы неизменно растем и стараемся предложить лучший
                    ассортимент мебельного рынка для всех регионов РФ.
                </p>
                <p class="description__text description__text_clip text-16" data-element="description-text-clip">
                    Мы активно следим за современными тенденциями, постоянно развиваем собственные навыки и возможности
                    производства.  На сегодняшний день Сарма Мебель – это 3 фабрики полного цикла, выпускающие матрасы
                    диваны, кресла, шкафы-купе, комоды, прихожие и другую мебель отличного качества. Но мы и дальше
                    будем поднимать эту планку, улучшать материалы, модернизировать производство, чтобы всегда отвечать
                    самым высоким стандартам.
                </p>
                <p class="description__text description__text_hide text-16" data-element="description-text-hide">
                    Кроме изделий собственного производства мы предлагаем в каталоге широкий ассортимент диванов и
                    другой мебели известных фабрик Москвы и России. Внимательно отбирая каждую модель, мы стараемся
                    сделать наш интернет-магазин действительно удобным для покупателей. Вы точно останетесь довольны!
                    А если не получилось подобрать диван в подходящей ткани или выбрать цвет шкафа-купе, не нужно быть
                    опытным дизайнером или технологом – мы сделали превосходный конструктор на сайте, который позволит
                    учесть самые разные требования. Попробуйте, купить диван - это просто!
                </p>
            </div>
            <button class="description__button text-14" data-element="description-button" type="button">
                <span>Развернуть</span>
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <mask id="mask0_517_68643" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="16" height="16">
                        <rect width="16" height="16" fill="#D9D9D9"/>
                    </mask>
                    <g mask="url(#mask0_517_68643)">
                        <path d="M7.99863 11.3746L3.87109 7.24706L4.84863 6.26953L7.99863 9.41953L11.1486 6.26953L12.1262 7.24706L7.99863 11.3746Z" fill="#0A4881"/>
                    </g>
                </svg>
            </button>
        </div>
    </div>
</section>
