<section class="favorites">
    <div class="container">
        <h1 class="favorites__title title">
            Избранное
            <span class="stock__title-span text-13-medium">12 товаров</span>
        </h1>
        <div class="favorites__nav">

        </div>
    </div>
</section>
