<section class="feedback">
    <div class="container">
        <div class="feedback__area">
            <div class="feedback__box">
                <div class="feedback__title title">Остались вопросы?</div>
                <div class="feedback__subtitle text-16">Звоните — мы поможем!</div>
                <div class="feedback__contacts">
                    <a href="tel:88001002656 " class="feedback__phone title">8 800 100-26-56</a>
                    <div class="feedback__note text-13">Бесплатный звонок по России, 24/7</div>
                </div>
                <div class="feedback__text text-16">Или оставьте свой номер телефона, наш консультант свяжется с вами.</div>
                <form class="feedback__form">
                    <input type="tel" class="feedback__input input" placeholder="Введите номер">
                    <button class="feedback__button btn-blue" disabled>Перезвоните мне</button>
                </form>
                <div class="feedback__policy text-13">
                    Отправляя данные вы соглашаетесь
                    с <a href="#" class="feedback__policy-link link-underline">политикой конфиденциальности</a>
                </div>
            </div>
        </div>
    </div>
</section>
