<section class="history">
    <div class="container">
        <div class="history__area">
            <a class="history__video-box" href="#modal-video-history" data-fancybox>
                <img src="/assets/img/history/history-emblem.svg" alt="" class="history__emblem">
                <div class="history__video-placeholder"></div>
                <button class="history__video-button" type="button"></button>
                <div class="history__video-text text-14">Наша богатая история  в коротком видео</div>
            </a>
            <div class="history__box">
                <h2 class="history__title title">Сарма Мебель — делаем ваш сон комфортным с 1996 года!</h2>
                <p class="history__text text-14">
                    Мы постоянно разрабатываем инновационные решения и выпускаем только такую продукцию, в которой
                    уверены на 100%. День за днем мы работаем для того, чтобы каждую ночь вы погружались в здоровый
                    сон, набираясь сил для новых свершений.
                </p>
                <ul class="history__list">
                    <li class="history__item">
                        <span class="history__value">25</span>
                        <div class="history__note text-14">Успешных лет создаем <br>уют</div>
                    </li>
                    <li class="history__item">
                        <span class="history__value">7</span>
                        <div class="history__note text-14">Городов с нашими фирменными салонами</div>
                    </li>
                    <li class="history__item">
                        <span class="history__value">15к</span>
                        <div class="history__note text-14">Довольных покупателей каждый месяц</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
