<section class="not-found">
    <div class="container">
        <h1 class="not-found__title title">Такой страницы не существует...</h1>
        <div class="not-found__area">
            <picture class="not-found__picture">
                <source srcset="/assets/img/not-found/not-found-1_mob.png" media="(max-width: 1260px)">
                <img src="/assets/img/not-found/not-found-1.png" alt="" class="not-found__image">
            </picture>
            <div class="not-found__headline text-16-medium">Ошибка 404</div>
            <div class="not-found__text text-14">
                Не беспокойтесь, такое часто происходит – возможно страница уже удалена,  или еще не создана,
                а может её вовсе никогда не сущестовало.
            </div>
            <a href="#" class="not-found__button btn-blue">На главную</a>
        </div>
    </div>
</section>
