<canvas class="confetti" id="confetti"></canvas>
<section class="order-done">
    <div class="container">
        <div class="order-done__title title">
            Заказ №14501 <span class="order-done__title-date">от 19.09.2023</span> успешно оформлен!
        </div>
        <div class="order-done__headline headline">Наш менеджер свяжется с вами в течении дня</div>
        <div class="order-done__area">
            <div class="order-done__box order-done__box_wide">
                <div class="order-done__box-name text-16-medium">Перенаправляем на страницу оплаты</div>
                <div class="order-done__loader">
                    <div class="order-done__loader-circle"></div>
                    <div class="order-done__loader-circle"></div>
                    <div class="order-done__loader-circle"></div>
                    <div class="order-done__loader-circle"></div>
                    <div class="order-done__loader-circle"></div>
                </div>
                <div class="order-done__pay">
                    <div class="order-done__pay-name text-16-medium">Банковской картой онлайн</div>
                    <div class="order-done__pay-text text-14">Мир, Visa, MasterCard</div>
                    <img src="/assets/img/order/ic_order-pay-2.svg" alt="" class="order-done__pay-icon">
                </div>
            </div>
            <div class="order-done__list">
                <div class="order-done__box">
                    <div class="order-done__box-name text-16-medium">Отследить заказ</div>
                    <a href="#" class="order-done__link order-done__link_lk btn-grey">Личный кабинет</a>
                    <div class="order-done__note text-13">Сроки, детали, оплата</div>
                </div>
                <div class="order-done__box">
                    <div class="order-done__box-name text-16-medium">Горячая линия</div>
                    <a href="tel:88005553555" class="order-done__link btn-grey">8 800 555-35-55</a>
                    <div class="order-done__note text-13">Бесплатно по России, 24/7</div>
                </div>
            </div>
            <div class="order-done__btn-box">
                <a href="#" class="order-done__button btn-blue">Оплатить</a>
            </div>
            <div class="order-done__alert text-13">
                Если после оплаты вы откажетесь от покупки, для возврата денег  вам придется обратиться в магазин
            </div>
        </div>
    </div>
</section>
