<div class="advantages">
    <div class="advantages__area">
        <div class="advantages__box">
            <picture class="advantages__picture">
                <source srcset="/assets/img/advantages/advantages-1_mob.jpg" media="(max-width: 1260px)">
                <img src="/assets/img/advantages/advantages-1.jpg" alt="" class="advantages__image">
            </picture>
            <div class="advantages__headline headline">>200 наименований матрасов и мебели</div>
            <div class="advantages__box-text text-14">
                таков ассортимент собственной продукции под брендом «Сарма» на сегодняшний день. Ещё около 20 
                новинок запускается в серийное производство ежегодно.
            </div>
            <a href="#" class="advantages__link link-underline text-16-medium">Смотреть каталог</a>
        </div>
        <div class="advantages__box">
            <picture class="advantages__picture">
                <source srcset="/assets/img/advantages/advantages-2_mob.jpg" media="(max-width: 1260px)">
                <img src="/assets/img/advantages/advantages-2.jpg" alt="" class="advantages__image">
            </picture>
            <div class="advantages__headline headline">от 5 до 10 рабочих дней</div>
            <div class="advantages__box-text text-14">
                Срок исполнения заявки с момента согласования.Производственные мощности фабрики позволяют
                оперативно выполнить любую заявку клиента
            </div>
            <a href="#" class="advantages__link link-underline text-16-medium">Оставить заявку</a>
        </div>
    </div>
    <div class="advantages__wrap">
        <div class="advantages__slider" data-element="advantages-slider">
            <div class="advantages__wrapper swiper-wrapper">
                <div class="advantages__slide swiper-slide">
                    <div class="advantages__slide-headline headline">Программа поддержки</div>
                    <div class="advantages__slide-text text-14">
                        Каждому клиенту предоставляется мощная маркетинговая поддержка: от комплектации магазина фирменным
                        торговым оборудованием и POS-материалами до разработки совместных акций.
                    </div>
                </div>
                <div class="advantages__slide swiper-slide">
                    <div class="advantages__slide-headline headline">Обучение для эффективных продаж</div>
                    <div class="advantages__slide-text text-14">
                        Каждый клиент «Сармы» получает все необходимые для работы информационные материалы, возможность
                        пройти обучение или составить индивидуальную программу тренингов.
                    </div>
                </div>
                <div class="advantages__slide swiper-slide">
                    <div class="advantages__slide-headline headline">Индивидуальный подход </div>
                    <div class="advantages__slide-text text-14">
                        Гибкая система скидок, отсрочка платежа, изготовление матрасов с индивидуальным наполнением и по 
                        индивидуальным размерам — компания учитывает пожелания каждого клиента.
                    </div>
                </div>
                <div class="advantages__slide swiper-slide">
                    <div class="advantages__slide-headline headline">Движение в ногу со временем</div>
                    <div class="advantages__slide-text text-14">
                        Технологи «Сармы» следят за инновациями в отрасли — для производства используется самое
                        современное оборудование, последние достижения науки и новейшие материалы.
                    </div>
                </div>
            </div>
            <div class="advantages__scrollbar swiper-scrollbar-blue swiper-scrollbar"></div>
        </div>
        <div class="advantages__info">
            <div class="advantages__info-box">
                <img src="/assets/img/advantages/advantages-info-circle.svg" alt="" class="advantages__info-icon">
                <div class="advantages__info-inner">
                    <div class="advantages__info-percent">80%</div>
                    <div class="advantages__info-note text-16">доход от продажи матрасов и мебели для клиента</div>
                </div>
            </div>
            <div class="advantages__time">от 2 дней</div>
            <div class="advantages__note text-16">Время в пути с момента отгрузки собственной транспортной службы </div>
        </div>
    </div>
</div>
