<a href="#basket-sidebar" class="basket-fixed" data-role="scroll-to-anchor">
    <div class="container">
        <div class="basket-fixed__area">
            <div class="basket-fixed__span text-16-medium">К оформлению</div>
            <div class="basket-fixed__box">
                <div class="basket-fixed__count text-16-medium">12шт</div>
                <div class="basket-fixed__price text-16-medium">17 990 ₽</div>
            </div>
        </div>
    </div>
</a>
