<div class="dealers">
    <h2 class="dealers__headline headline">Каталоги матрасов для ознакомления</h2>
    <div class="dealers__list">
        <a href="#" class="dealers__item">
            <img src="/assets/img/dealers/dealers-1.svg" alt="" class="dealers__image">
            <div class="dealers__name text-18-medium">Sarma Strong</div>
        </a>
        <a href="#" class="dealers__item">
            <img src="/assets/img/dealers/dealers-2.svg" alt="" class="dealers__image">
            <div class="dealers__name text-18-medium">Sarma Olympia</div>
        </a>
        <div class="dealers__item dealers__item_text">
            <div class="dealers__text text-16">
                Просим взять во внимание то, что серии «Strong» и «Olympia» реализуются по отдельным договорам.
                Данный линейные ряды не для продажи дилерам, реализующим линейку »Sarma Classic»
            </div>
        </div>
        <a href="#" class="dealers__item">
            <img src="/assets/img/dealers/dealers-3.svg" alt="" class="dealers__image">
            <div class="dealers__name text-18-medium">Sarma Classic</div>
        </a>
    </div>
    <h2 class="dealers__headline headline">Публичная оферта к заключению договора поставки товара:</h2>
    <div class="dealers__box">
        <a href="#" class="dealers__link link-underline text-16-medium">Mягкая мебель и интерьерные кровати</a>
        <a href="#" class="dealers__link link-underline text-16-medium">Матрасная продукция</a>
        <a href="#" class="dealers__link link-underline text-16-medium">Коорпусная продукция</a>
    </div>
</div>
