<div class="hint">
    <img src="/assets/img/ic_hint.svg" alt="" class="hint__icon">
    <div class="hint__box text-11-medium">
        Если есть индивидуальные требования  к модели, можно выбрать особые дополнительные возможности,
        конструкцию, высоту слоев или толщину матраса
    </div>
</div>
