<div class="mobile-bar mobile-bar_active">
    <div class="container">
        <div class="mobile-bar__area">
            <a href="#" class="mobile-bar__link">
                <img src="/assets/img/ic_mobile_bar_home.svg" alt="" class="mobile-bar__icon">
                <span class="mobile-bar__name text-11-medium">Главная</span>
            </a>
            <a href="#modal-catalog" class="mobile-bar__link" data-fancybox>
                <img src="/assets/img/ic_mobile_bar_catalog.svg" alt="" class="mobile-bar__icon">
                <span class="mobile-bar__name text-11-medium">Каталог</span>
            </a>
            <a href="#" class="mobile-bar__link">
                <div class="mobile-bar__box" data-count="3">
                    <img src="/assets/img/ic_mobile_bar_basket.svg" alt="" class="mobile-bar__icon">
                </div>
                <span class="mobile-bar__name text-11-medium">Корзина</span>
            </a>
            <a href="#" class="mobile-bar__link">
                <div class="mobile-bar__box" data-count="2">
                    <img src="/assets/img/ic_mobile_bar_favorite.svg" alt="" class="mobile-bar__icon">
                </div>
                <span class="mobile-bar__name text-11-medium">Избранное</span>
            </a>
            <a href="#modal-login" class="mobile-bar__link" data-fancybox>
                <img src="/assets/img/ic_mobile_bar_profile.svg" alt="" class="mobile-bar__icon">
                <span class="mobile-bar__name text-11-medium">Профиль</span>
            </a>
        </div>
    </div>
</div>
