<div class="more-questions">
    <div class="more-questions__title text-16-medium">У вас остались вопросы?</div>
    <div class="more-questions__note text-14">Звоните — мы поможем! По всей России, бесплатно 24/7</div>
    <a href="tel:88005553555" class="more-questions__link headline">8 800 555-35-55</a>
    <div class="more-questions__note text-14">Или закажите звонок:</div>
    <a href="#modal-callback" class="more-questions__button btn-blue" data-fancybox>Заказать звонок</a>
    <div class="more-questions__social">
        <a href="#" target="_blank" class="more-questions__social-link">
            <img src="/assets/img/ic_tg_color.svg" alt="" class="more-questions__social-icon">
            <span class="more-questions__social-name">Чат Telegram</span>
        </a>
        <a href="#" target="_blank" class="more-questions__social-link">
            <img src="/assets/img/ic_wp_color.svg" alt="" class="more-questions__social-icon">
            <span class="more-questions__social-name">Чат WhatsApp</span>
        </a>
    </div>
</div>
