<div class="notification">
    <div class="notification__title text-14">Товар добавлен в сравнение</div>
    <div class="notification__name text-16-medium">Матрас Green Moss</div>
    <a href="#" class="notification__link text-16">В избранное</a>
</div>
