<div class="pagination">
    <a href="#" class="pagination__more btn-grey text-16-medium">Показать ещё</a>
    <div class="pagination__list">
        <a href="#" class="pagination__item pagination__item_prev"></a>
        <a href="#" class="pagination__item">2</a>
        <span class="pagination__item pagination__item_active">3</span>
        <a href="#" class="pagination__item">4</a>
        <a href="#" class="pagination__item">5</a>
        <span class="pagination__item">...</span>
        <a href="#" class="pagination__item">53</a>
        <a href="#" class="pagination__item pagination__item_next"></a>
    </div>
</div>
