<div class="products-stats">
    <div class="products-stats__main">
        <ul class="products-stats__list">
            <li class="products-stats__item">
                <div class="products-stats__name text-16">Конструкция</div>
                <div class="products-stats__value text-16">Независимые пружины TFK {% include 'hint.twig' %}</div>
            </li>
            <li class="products-stats__item">
                <div class="products-stats__name text-16">Количество пружин на кв.м</div>
                <div class="products-stats__value text-16">256 шт.</div>
            </li>
            <li class="products-stats__item">
                <div class="products-stats__name text-16">Жесткость верх</div>
                <div class="products-stats__value text-16">жесткая {% include 'hint.twig' %}</div>
            </li>
            <li class="products-stats__item">
                <div class="products-stats__name text-16">Жесткость низ</div>
                <div class="products-stats__value text-16">средняя {% include 'hint.twig' %}</div>
            </li>
            <li class="products-stats__item">
                <div class="products-stats__name text-16">Макс. вес на одно спальное место</div>
                <div class="products-stats__value text-16">100 кг</div>
            </li>
            <li class="products-stats__item">
                <div class="products-stats__name text-16">Высота матраса</div>
                <div class="products-stats__value text-16">17 см</div>
            </li>
            <li class="products-stats__item">
                <div class="products-stats__name text-16">Материалы</div>
                <div class="products-stats__value text-16">
                    кокосовая койра {% include 'hint.twig' %} <br>
                    термовойлок {% include 'hint.twig' %} <br>
                    EcoFoam {% include 'hint.twig' %} <br>
                </div>
            </li>
            <li class="products-stats__item">
                <div class="products-stats__name text-16">Высота матраса</div>
                <div class="products-stats__value text-16">17 см</div>
            </li>
            <li class="products-stats__item">
                <div class="products-stats__name text-16">Упаковка</div>
                <div class="products-stats__value text-16">в рулоне</div>
            </li>
            <li class="products-stats__item">
                <div class="products-stats__name text-16">Ширина</div>
                <div class="products-stats__value text-16">60 см</div>
            </li>
            <li class="products-stats__item">
                <div class="products-stats__name text-16">Длина</div>
                <div class="products-stats__value text-16">50 см</div>
            </li>
            <li class="products-stats__item">
                <div class="products-stats__name text-16">Высота</div>
                <div class="products-stats__value text-16">17 см</div>
            </li>
            <li class="products-stats__item">
                <div class="products-stats__name text-16">Степень комфорта</div>
                <div class="products-stats__value text-16">очень хорошая {% include 'hint.twig' %}</div>
            </li>
            <li class="products-stats__item">
                <div class="products-stats__name text-16">Съемный чехол</div>
                <div class="products-stats__value text-16">нет</div>
            </li>
        </ul>
        <p class="products-stats__text text-13">
            Информация о технических характеристиках, комплекте поставки, внешнем виде и цвете товара носит
            справочный характер и основывается на последних доступных к моменту публикации сведениях
        </p>
    </div>
    <div class="products-stats__sidebar">
        <a href="#" download class="products-stats__button btn-grey">Скачать инструкцию ∙ pdf  (1,3 мб)</a>
        <a href="#" download class="products-stats__button btn-grey">Декларация соответствия</a>
    </div>
</div>
