{%
    set shopsListProductDelivery =[
        [
            { name: 'Байкальская, 244в,  ТЦ «Мебель Холл», 2 этаж', span: 'Ежедневно с 10:00 до 19:00',
                note: '', icon: '/assets/img/ic_shop_blue.svg', dataCoords: '[52.255702, 104.332673]'},
            { name: 'Октябрьской Революции, 1, корп. 7а, ТЦ «Акцент»', span: 'Ежедневно с 10:00 до 19:00',
                note: '', icon: '/assets/img/ic_shop_blue.svg', dataCoords: '[52.293245, 104.294746]'},
        ],
    ]
%}

<div class="product-delivery">
    <div class="product-delivery__main">
        <ul class="product-delivery__list">
            <li class="product-delivery__item">
                <div class="product-delivery__headline text-16-medium">Сроки доставки</div>
                <div class="product-delivery__line">
                    <div class="product-delivery__box">
                        <img src="/assets/img/ic_delivery_black.svg" alt="" class="product-delivery__icon">
                        <div class="product-delivery__value text-18-medium">1 день</div>
                    </div>
                    <div class="product-delivery__text text-14">
                        Для индивидуальных заказов сроки  рассчитываются вашим менеджером
                    </div>
                </div>
            </li>
            <li class="product-delivery__item">
                <div class="product-delivery__headline text-16-medium">Доставка по <a href="#">Иркутску</a></div>
                <div class="product-delivery__line">
                    <div class="product-delivery__box">
                        <div class="product-delivery__value text-18-medium">650 ₽</div>
                    </div>
                    <div class="product-delivery__text text-14">
                        Если сумма заказа превышает 40 000 ₽ — доставка будет бесплатной!
                    </div>
                </div>
            </li>
            <li class="product-delivery__item">
                <div class="product-delivery__headline text-16-medium">Подъем на этаж</div>
                <div class="product-delivery__line">
                    <div class="product-delivery__box">
                        <div class="product-delivery__value text-18-medium">99 ₽</div>
                    </div>
                    <div class="product-delivery__text text-14">
                        Если у вас нет лифта, берем символическую плату за ручной труд
                    </div>
                </div>
            </li>
            <li class="product-delivery__item">
                <div class="product-delivery__headline text-16-medium">Доставка по Иркутской области</div>
                <div class="product-delivery__line">
                    <div class="product-delivery__box">
                        <div class="product-delivery__value text-18-medium">650 ₽</div>
                    </div>
                    <div class="product-delivery__box">
                        <div class="product-delivery__value text-18-medium">+55 ₽/доп. км</div>
                    </div>
                    <div class="product-delivery__text text-14">
                        Доставка по области рассчитывается  вашим менеджером
                    </div>
                </div>
            </li>
        </ul>
        <div class="product-delivery__pickup">
            <div class="product-delivery__map-title text-16-medium">Самовывоз</div>
            <div class="product-delivery__map">
                {% include 'shops-map.twig' with {'mod': 'shops__area shops__area_pickup', 'shopsList': shopsListProductDelivery} %}
            </div>
        </div>
        <a href="#" class="product-delivery__more text-13 link-underline">Подробнее о доставке</a>
    </div>
    <div class="product-delivery__sidebar">
        <div class="product-delivery__sidebar-title text-16-medium">Оплата</div>
        <ul class="product-delivery__sidebar-list">
            <li class="product-delivery__sidebar-item text-14">— Наличными курьеру</li>
            <li class="product-delivery__sidebar-item text-14">— Онлайн оплата на сайте</li>
            <li class="product-delivery__sidebar-item text-14">— В рассрочку от Почты России / MoneyCare</li>
            <li class="product-delivery__sidebar-item text-14">— Yandex Pay</li>
            <li class="product-delivery__sidebar-item text-14">— Оплата Долями без %</li>
            <li class="product-delivery__sidebar-item text-14">— В кредит от Сбера</li>
            <li class="product-delivery__sidebar-item text-14">— По рассчетному счету (для юр. лиц)</li>
        </ul>
        <div class="product-delivery__sidebar-title text-16-medium">Принимаем к оплате</div>
        <ul class="product-delivery__pay-list">
            <li class="product-delivery__pay-item">
                <img src="/assets/img/product-delivery-pay-1.svg" alt="" class="product-delivery__pay-image">
            </li>
            <li class="product-delivery__pay-item">
                <img src="/assets/img/product-delivery-pay-2.svg" alt="" class="product-delivery__pay-image">
            </li>
            <li class="product-delivery__pay-item">
                <img src="/assets/img/product-delivery-pay-3.svg" alt="" class="product-delivery__pay-image">
            </li>
        </ul>
        <div class="product-delivery__sidebar-bottom">
            <div class="product-delivery__requisites-title text-16-medium">Реквизиты</div>
            <a href="#" download class="product-delivery__sidebar-button btn-blue text-16-medium">
                Скачать реквизиты в PDF
            </a>
            <div class="product-delivery__sidebar-note text-13">
                Банковские реквизиты интернет-магазина для оплаты по безналичному расчету
            </div>
            <a href="#" class="product-delivery__sidebar-more text-13 link-underline">Подробнее об оплате</a>
        </div>
    </div>
</div>
