<div class="range">
    <div class="range__price">
        <label class="range__label">
            <span class="range__label-span text-11-medium">от</span>
            <input class="range__input-number min" type="number" value="1500">
        </label>
        <label class="range__label">
            <span class="range__label-span text-11-medium">до</span>
            <input class="range__input-number max" type="number" value="50000">
        </label>
    </div>
    <div class="range__slider">
        <span class="range__selected"></span>
    </div>
    <div class="range__box">
        <input class="range__input-range min" type="range" min="1500" max="50000" value="1500" step="1">
        <input class="range__input-range max" type="range" min="1500" max="50000" value="50000" step="1">
    </div>
</div>
