{% if layer %}
    <div class="search-layer" data-element="search-layer"></div>
{% endif %}
<div class="search" data-element="search">
    <div class="search__advice">
        <a href="#" class="search__advice-item text-14">Матрас</a>
        <a href="#" class="search__advice-item text-14">Матрас беспружинный</a>
        <a href="#" class="search__advice-item text-14">Матрас ортопедический</a>
        <a href="#" class="search__advice-item text-14">Матрас детский</a>
    </div>
    <div class="search__box">
        <div class="search__box-title text-13-medium">Часто ищут</div>
        <div class="search__box-list">
            <a href="#" class="search__box-item text-16 link-hover-blue">матрас однопальный</a>
            <a href="#" class="search__box-item text-16 link-hover-blue">кровать</a>
            <a href="#" class="search__box-item text-16 link-hover-blue">подушка ортопедическая</a>
        </div>
    </div>
    <div class="search__box">
        <div class="search__box-title text-13-medium">Категории</div>
        <div class="search__box-list">
            <a href="#" class="search__box-item text-16 link-hover-blue">Матрас</a>
            <a href="#" class="search__box-item text-16 link-hover-blue">Мебель для спальни</a>
        </div>
    </div>
    <div class="search__popular">
        <div class="search__popular-title text-13-medium">Популярные товары</div>
        <div class="search__popular-list">
            <div class="search__popular-item">
                <a href="#" class="search__popular-product">
                    <img src="/assets/img/search/search-1.jpg" alt="" class="search__popular-image" loading="lazy">
                    <div class="search__popular-box">
                        <div class="search__popular-name text-14">Ортопедическое  основание</div>
                        <div class="search__popular-price">
                            <div class="search__popular-price-current text-16-medium">+2 890 ₽</div>
                            <div class="search__popular-price-old text-16">3 890 ₽</div>
                        </div>
                    </div>
                </a>
                <a href="#" class="search__popular-basket btn-blue"></a>
            </div>
            <div class="search__popular-item">
                <a href="#" class="search__popular-product">
                    <img src="/assets/img/search/search-2.jpg" alt="" class="search__popular-image" loading="lazy">
                    <div class="search__popular-box">
                        <div class="search__popular-name text-14">Деревянное  основание </div>
                        <div class="search__popular-price">
                            <div class="search__popular-price-current text-16-medium">+3 190 ₽</div>
                        </div>
                    </div>
                </a>
                <a href="#" class="search__popular-basket btn-blue"></a>
            </div>
            <div class="search__popular-item">
                <a href="#" class="search__popular-product">
                    <img src="/assets/img/search/search-3.jpg" alt="" class="search__popular-image" loading="lazy">
                    <div class="search__popular-box">
                        <div class="search__popular-name text-14">Анатомическая  подушка Cool Soft</div>
                        <div class="search__popular-price">
                            <div class="search__popular-price-current text-16-medium">+1 890 ₽</div>
                            <div class="search__popular-price-old text-16">2 890 ₽</div>
                        </div>
                    </div>
                </a>
                <a href="#" class="search__popular-basket btn-blue"></a>
            </div>
        </div>
    </div>
    <a href="#" class="search__all link-underline text-13">Смотреть все результаты</a>
</div>
